body {
    text-align: center;
    background: yellow;
}

#click {
    padding: 10px;
    border-radius: 5pc;
    border: solid 5px blue;
    background: red;
    color: white;
}
#result{
  margin-top: 15px;  
  font-size: 50px;
  font-family: 'Great Vibes', cursive;
}